<!DOCTYPE>
<html lang="nl">
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
		<title>Home</title>
	</head>
	<body>
            <nav>
                <ul class="navbar">
                    <li class="leftside">
                        <a href="/">Home</a>
                        <a href="/about">About</a>
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="rightside">
                        <a href="/login">Login</a>
                        <a href="/register">Register</a>
                    </li>
                    
                </ul>
            </nav>    
        </nav>
		<h1>Hello, and welcome to the Site4Yu website</h1>
        <p>we build and maintain website for you.</p>
	</body>
    <footer>This website was build using GoLang and Templ</footer>
</html>